
.product{
    border: 1px solid rgb(159, 149, 149);
    border-radius: 5px;
     Width: 300px;
     Height: 568px;
     position: relative;
}
.product img {
    width: 95%;
    height: 286px;
    border-radius: 5px;
    padding: 7px;
}
.product-name{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 0.0015em;
        color: #0E161A;
}
.product-info{
    margin-left: 14px;
}
.product-info p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-cart{
    margin-top: 5px;
    width: 100%;
    margin-bottom: 0px;
    background: #fed494;
    border: px solid #7c8991;
     border-radius: 0px 0px 8px 8px;
     position: absolute;
     bottom: 0;
}
.btn-cart:hover{
    background-color: orange;
}